@page "/details-customer/{Id:int}";
@using CRM.DTOs.CustomerDTOs;
@using System.Text.Json;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Forms;
@using CRM.AppWebBlazor.Data;




<h3>Detalles del cliente</h3>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="Name">Nombre:</label>
            <input class="form-control" id="Name" disabled @bind="customer.Name" />
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="LastName">Apellido:</label>
            <input class="form-control" id="LastName" disabled @bind="customer.LastName" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="Address">Dirección:</label>
            <input class="form-control" id="Address" disabled @bind="customer.Address" />
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-12">
        <NavLink href="/customer-list" class="btn btn-secondary">Ir a buscar clientes</NavLink>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    CustomerService? customerService { get; set; }

    GetIdResultCustomerDTO customer = new();

    protected override async Task OnInitializedAsync()
    {
        if (customerService == null) return;
        customer = await customerService.GetById(Id);
    }
}